.background{
    inset: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: -1;
}
.Pcontent{
    color: white;
}
.softk table{
    border-collapse: collapse;
}
.softk table td{
    border: 1px solid white;
    padding: 10px;
}
.softk table th{
    background-color: blue;
    color: red;
    padding: 10px;
}